services:
  db-supertokens:
    image: 'postgres:latest'
    container_name: db-supertokens
    environment:
      POSTGRES_ROOT_PASSWORD: root
      POSTGRES_USER: ${SUPERTOKENS_USER}
      POSTGRES_PASSWORD: ${MYSQL_PASSWORD}
      POSTGRES_DATABASE: ${SUPERTOKENS_DATABASE}
    ports:
      - "${SUPERTOKENS_DB_PORT}:5432"
    expose:
      - "${SUPERTOKENS_DB_PORT}"
    volumes:
      - supertokens_data:/var/lib/mysql-supertokens
      - ./db/supertokens-init.sql:/docker-entrypoint-initdb.d/supertokens-init.sql
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'supertokens_user', '-d', 'supertokens']
      interval: 5s
      timeout: 5s
      retries: 5

  supertokens:
    image: registry.supertokens.io/supertokens/supertokens-postgresql:latest
    depends_on:
      db-supertokens:
        condition: service_healthy
    ports:
      - "3567:3567"
    environment:
      POSTGRESQL_CONNECTION_URI: "postgresql://${SUPERTOKENS_USER}:${MYSQL_PASSWORD}@db-supertokens:5432/${SUPERTOKENS_DATABASE}"
    networks:
      - app_network
    restart: unless-stopped
    healthcheck:
      test: >
        bash -c 'exec 3<>/dev/tcp/127.0.0.1/3567 && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:3567\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
      interval: 10s
      timeout: 5s
      retries: 5

  db-app:
    container_name: db-app
    hostname: db-app
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    restart: unless-stopped
    ports:
      - "${MYSQL_PORT}:${MYSQL_PORT}"
    expose:
      - "${MYSQL_PORT}"
    networks:
      - app_network
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10

  adminer:
    image: adminer:standalone
    container_name: adminer
    restart: always
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: root
    networks:
      - app_network
    ports:
      - 4040:8080

  api:
    image: node:lts-slim
    container_name: api
    working_dir: /usr/src/api
    env_file:
      - .env
    environment:
      NODE_ENV: docker
      CHOKIDAR_USEPOLLING: 'true'
    ports:
      - "${API_PORT}:${API_PORT}"
    expose:
      - "${API_PORT}"
    networks:
      - app_network
    volumes:
      - type: bind
        source: ./api
        target: /usr/src/api
    command: >
      /bin/bash -c "
      echo 'Rest-Api is starting... Please Wait' &&
      npm i &&
      npm run start"
    depends_on:
      db-app:
        condition: service_healthy
      supertokens:
        condition: service_healthy

  app:
    image: node:lts-slim
    container_name: app
    working_dir: /usr/src/app
    volumes:
      - ./app:/usr/src/app
    env_file:
      - .env
    expose:
      - "${APP_PORT}"
    command: >
      /bin/bash -c "
      echo 'Todo App is starting...' &&
      npm i &&
      npm run start"
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      - api

volumes:
  mysql_data:
  supertokens_data:

networks:
  app_network:
    driver: bridge
